<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time_from %>
    <%= form.datetime_select :time_from, id: :reservation_time_from %>
  </div>

  <div class="field">
    <%= form.label :time_to %>
    <%= form.datetime_select :time_to, id: :reservation_time_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
