<tr>
	<td><%= reservation.time_from.strftime('%H:%M %d-%b-%y') %></td>
	<td><%= reservation.time_to.strftime('%H:%M %d-%b-%y') %></td>
	<td><%= link_to 'Show', reservation %></td>
	<td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
	<td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>